html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    background-image: radial-gradient(#282828 1px, transparent 1px);
    background-size: 28px 28px;
    cursor: grab;
    position: relative;
}

#app * {
    cursor: default;
}

#canvas {
    position: absolute;
    inset: 0;
    overflow: visible;
}
